@import "./header/header";
@import "./footer/footer";
@import "./body/colors", "./body/fonts";

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-darkgrey: #353535;
$color-background: #F6F6F6;


@mixin center-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title-shrikhand {
    font-family: shrikhand;
    font-weight: 400;
}

body {
    background-color: $color-background;
    margin: 0px;
}

main {
    font-family: roboto, sans-serif;
}

.header {
    background-color: white;
    height: 63px;
     &__logo {
        font-size: 30px;
        @include title-shrikhand;
        @include center-txt;
    }
}

.location {
    background-color: #EAEAEA;
    @include center-txt;
  
    &__txt {
        font-size: 16px;
        font-weight: 500;
        color: $color-darkgrey;
    }
}

.discover {  
    text-align: center;
    &__title {
        font-size: 24px;
        padding-left: 42px;
        padding-right: 48px;
    }
    &__txt {
        font-family: roboto, sans-serif;
        font-size: 18px;
        color: $color-darkgrey;
    }
    &__btn {
        @include center-txt;
        background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        height: 50px;
        border-radius: 25px;
        color: white;
        width: 218px;
        margin-top: 40px;
    } 
}

.fonction {
    height: 440px;
    background-color: white;
    margin-top: 57px;
        &__title {
        font-size: 24px;;
        padding-top: 48px;
        padding-left: 20px;
    }
        &__btn {  
            margin-top: 26px;
            &__select {
            margin-bottom: 25px;
            margin-left: 32px;
            @include center-txt;
            background-color: #F7F7F7;;
            border-radius: 25px;
            height: 72px;
            width: 322px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        }
}
}

.restaurants {
    background-color: $color-background;
    &__title {
    font-size: 24px;
    padding-left: 20px;
    padding-top: 54px;
}
.card {
    height: 251px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: inline-table;
&__img {
        height: 231px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;  
}
&__content {
    margin-left: 13px;
    margin-bottom: 12px;
    &__title {
        font-size: 18px;
    }
}
}
}

.footer {
    background-color: $color-darkgrey;
    color: white;
    height: 186px;
    &__title {
        @include title-shrikhand;
        padding-top: 22px;
        padding-left: 25px;
    }
}