@keyframes loader {
  to {
    transform: scale(0);
  }
}
@keyframes letters {
  from {
    transform: scaleY(0.7);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes slide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: sclaleX(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: shrikhand;
  font-weight: 400;
  font-size: 40px;
  height: 100vh;
  background-color: white;
  color: #9356DC;
  inset: 0;
  z-index: 1;
  opacity: 0.95;
  animation: loader 0s 2500ms forwards;
}
.loader__letter {
  animation: letters 1000ms backwards infinite ease-in-out alternate;
}
.loader__letter--1 {
  animation-delay: 100ms;
}
.loader__letter--2 {
  animation-delay: 200ms;
}
.loader__letter--3 {
  animation-delay: 300ms;
}
.loader__letter--4 {
  animation-delay: 400ms;
}
.loader__letter--5 {
  animation-delay: 500ms;
}
.loader__letter--6 {
  animation-delay: 600ms;
}
.loader__letter--7 {
  animation-delay: 700ms;
}
.loader__letter--8 {
  animation-delay: 800ms;
}

main, footer {
  font-family: roboto, sans-serif;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0px;
}

.header {
  background-color: white;
  height: 63px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header {
    height: 95px;
  }
}
.header__logo {
  font-size: 30px;
  font-family: shrikhand;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowleft {
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  color: black;
}

.footer {
  background-color: #353535;
  color: white;
  height: 186px;
  padding-left: 25px;
}
@media screen and (min-width: 1024px) {
  .footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 3em;
    align-items: center;
  }
}
.footer__title {
  font-family: shrikhand;
  font-weight: 400;
  padding-top: 22px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    padding-top: 0;
  }
}
.footer__menu {
  padding: 7px 0 0 0;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .footer__menu {
    display: flex;
    gap: 20px;
    width: 661px;
  }
}
.footer__list {
  list-style-type: none;
  padding-bottom: 7px;
}
.footer__list__mail {
  color: white;
}
.footer__link {
  color: white;
  display: flex;
}
.footer__link__icon {
  width: 13px;
  margin-right: 11px;
}

.heart i {
  position: absolute;
  cursor: pointer;
  right: 16px;
}

.my-heart-full {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#ff79dA, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
}
.my-heart-full:hover {
  opacity: 1;
  background-position: 0% 100%;
  background-image: linear-gradient(#ff79dA, #9356dc);
  transition: opacity 1s ease-in-out;
}

.fa-heart {
  position: absolute;
  cursor: pointer;
  color: black;
}
.fa-heart__full {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#ff79dA, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
}
.fa-heart__full:hover {
  opacity: 1;
  background-position: 0% 100%;
  background-image: linear-gradient(#ff79dA, #9356dc);
  transition: opacity 1s ease-in-out;
}

main, footer {
  font-family: roboto, sans-serif;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0px;
}

.bodyPages {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.picture__img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-left: 13px;
  margin-right: 13px;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 100%;
    max-width: 634px;
  }
}

.container {
  background-color: #F6F6F6;
  margin-top: -65px;
  position: relative;
  border-radius: 25px 25px 0 0;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
  }
}
.container__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
@media screen and (min-width: 1024px) {
  .container__title {
    justify-content: center;
  }
}
.container__title h2 {
  font-family: shrikhand;
  font-weight: 400;
  margin-left: 15px;
}
.container__title h2 i {
  right: 1em;
}
@media screen and (min-width: 1024px) {
  .container__title h2 i {
    padding-left: 0.5em;
    right: auto;
  }
}

.category__name {
  margin-left: 13px;
  margin-top: 42px;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 16px;
}
.category__name--line {
  width: 40px;
  border: 1.5px solid #99E2D0;
  margin-left: 13px;
  margin-bottom: 12px;
}

.choice {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  animation: fadeIn 4s forwards;
}
.choice__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 70px;
  overflow: hidden;
  animation: slide 650ms;
  transform-origin: left;
}
.choice__card--1 {
  animation-delay: 300ms;
}
.choice__card--2 {
  animation-delay: 600ms;
}
.choice__card--3 {
  animation-delay: 900ms;
}
.choice__card--4 {
  animation-delay: 1200ms;
}
.choice__card--5 {
  animation-delay: 1500ms;
}
.choice__card--6 {
  animation-delay: 1800ms;
}
.choice__card--7 {
  animation-delay: 2100ms;
}
.choice__card--8 {
  animation-delay: 2400ms;
}
.choice__card--9 {
  animation-delay: 2700ms;
}
.choice__card--10 {
  animation-delay: 3000ms;
}
.choice__card__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  flex: 1;
  padding-left: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.choice__card__txt--title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
  padding-top: 12px;
}
.choice__card__txt--description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 12px;
}
.choice__card__price {
  width: 70px;
  height: 100%;
  display: flex;
  padding-top: 37.5px;
  justify-content: center;
}
.choice__card__price span {
  font-weight: 700;
  font-size: 15px;
}
.choice__card__check {
  width: 70px;
  height: 100%;
  margin-right: -70px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.choice__card:hover > .choice__card__check {
  margin: 0px;
  transition: all 0.5s;
}

.order {
  display: flex;
  justify-content: center;
}
.order__btn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity 250ms, transform 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.order__btn:hover {
  opacity: 0.85;
  transition: all 250ms ease-in-out;
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

main {
  display: flex;
  flex-direction: column;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
}
.location__icon {
  color: #353535;
}
.location__txt {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

.discover {
  background-color: #F6F6F6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 57px 0;
}
.discover__title {
  font-size: 24px;
  padding: 0px 48px 18px 42px;
}
@media screen and (min-width: 1024px) {
  .discover__title {
    font-size: 40px;
  }
}
.discover__txt {
  font-size: 18px;
  color: #353535;
  padding-bottom: 27px;
}
.discover__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity 250ms, transform 250ms ease-in-out;
  width: 218px;
}
.discover__btn:hover {
  opacity: 0.85;
  transition: all 250ms ease-in-out;
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.fonction {
  height: 440px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .fonction {
    height: 228px;
    width: 100%;
    max-width: 1055px;
    align-self: center;
  }
}
.fonction__title {
  font-size: 24px;
  padding: 48px 20px 0 20px;
}
.fonction__btn {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 1024px) {
  .fonction__btn {
    flex-direction: row;
    justify-content: space-between;
  }
}
.fonction__btn__select {
  color: black;
  margin-left: 32.5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 33.5px;
  background-color: #f7f7f7;
  border-radius: 25px;
  height: 72px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media screen and (min-width: 1024px) {
  .fonction__btn__select {
    width: 322px;
  }
}
.fonction__btn__select__line {
  display: flex;
  gap: 27px;
  align-items: center;
}
.fonction__btn__select__line i {
  color: #7E7E7E;
}
.fonction__btn__select__line i:hover {
  color: #9356DC;
}
.fonction__btn__select__line--nbr {
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonction__btn__select__line--position {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  color: white;
  line-height: 17px;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
.restaurants__title {
  font-size: 24px;
  padding: 54px 20px 28px 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants__title {
    width: 100%;
    max-width: 1080px;
    align-self: center;
  }
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .restaurants__cards {
    flex-direction: row;
    width: 100%;
    max-width: 1080px;
    align-self: center;
    gap: 90px;
    padding: 20px 0 30px 0;
  }
}
.restaurants .card {
  height: 251px;
  width: calc(100% - 34px);
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: inline-table;
  margin-bottom: 15px;
  margin: 0 17px 18px 17px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurants .card {
    margin: 0;
  }
}
.restaurants .card__line {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  align-items: center;
}
.restaurants .card__new {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restaurants .card__img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .card i {
  right: 16px;
}
.restaurants .card__content {
  height: 77px;
  padding-left: 13px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
.restaurants .card__content__title {
  margin-top: 12px;
}
.restaurants .card__content__subtitle {
  font-weight: 300;
  font-size: 17px;
}/*# sourceMappingURL=main.css.map */