body {
  background-color: $color-white;
}

.picture {
  &__img {
     height: 275px;
      width: 100%;
      object-fit: cover;
  }
}

.menu {
  margin-left: 13px;
    margin-right: 13px;
}
.container {
  background-color: $color-background;
  margin-top: -63px;
  position: relative;
  border-radius: 25px 25px 0 0;
  &__title {
     @include title-shrikhand;
        padding-top: 32px;
        margin-left: 17px;
        display: flex;
        align-items: center;
        gap: 30px;
        &--boxicon{
          width: 22px;
          height: 22px;
          position: relative;
          &:hover {
            cursor: pointer;
          }
          &:hover > .container__title--icon--colored {
            transform: scale(1);
            transition: all 300ms;
          }
          &:not(:hover) > .container__title--icon--colored {
            transform: scale(0);
            transition: all 300ms;
          }
        }
        &--icon  {
          font-size: 22px;
          position: absolute;
          top: 0;
          left: 0;
          &--colored {
            color: #9356DC;
            transform: scale(0);
          }
        }
  }
}

.category { 
  &__name {
    margin-left: 13px;
    margin-top: 42px;
    margin-bottom: 8px;
    font-weight: 300;
    &--line {
      width: 40px;
      border: 1.5px solid $color-tertiary;
      margin-left: 13px;
      margin-bottom: 12px;
    }
  }
}

.choice {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 70px;
  overflow: hidden;
  &__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    flex: 1;
    padding-left: 20px;
    @include ellipse;
    &--title{
      @include ellipse;
      font-weight: 500;
      font-size: 18px;
      padding-top: 12px
    }
    &--description{
      @include ellipse;
      font-weight: 300;
      font-size: 15px;
      padding-bottom: 12px;
    }
  }
  &__price {
  width: 70px;
  height: 100%;
  display: flex;
  padding-top: 37.5px;
  justify-content: center;
  span{
        font-weight: 700;
        font-size: 15px;
  }
  }
  &__check {
    width: 70px;
    height: 100%;
    margin-right: -70px;
    background-color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; 
    transition-duration: 0.5s;
  }
  &:hover > .choice__card__check {
    margin: 0px;
    transition: all 0.5s;
  }
}
}

.order {  
  display: flex;
   justify-content: center;
  &__btn {
    @include pink-btn;
    @include center-txt;
    width: 186px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}