@import "../utils/mixins.scss";

.menu {
    &__container {
     height: 1121px;
    }
    &__img {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }
    &__title {
        @include title-shrikhand;
        margin-left: 16px;
    }
  &__division {
    margin-left: 13px;
    margin-top: 42px;
  }
}