@keyframes loader {
to { transform: scale(0);}
}

@keyframes letters {
    from {
        transform: scaleY(0.7);
}
to {transform: scaleY(1.0)}
}

@keyframes slide {
    from {
transform: scaleX(0)
    }
    to {
        transform: sclaleX(1)
    }
}
