@mixin center-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title-shrikhand {
    font-family: shrikhand;
    font-weight: 400;
}

@mixin pink-btn {
    background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 50px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: opacity 250ms, transform 250ms ease-in-out;
        &:hover {
            opacity: 0.85;
            transition: all 250ms ease-in-out;
            transform: scale(1.05);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.60);
        }
}

@mixin ellipse {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin heart {
  width: 22px;
  height: 22px;
  position: relative;
   .fa-heart{
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
      }
    .far{
      opacity: 1;
      z-index: 2;
      transition: opacity 0.5s ease-in-out;
      &:hover{
        opacity: 0;
      + .fas{
        opacity: 1;
        z-index: 2;
        animation: hurtFull 0.5s linear both;
      }
    }

    }
    .fas{
      background: linear-gradient(60deg, $color-secondary 0% , $color-primary 100%);
          background-clip: content-box;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          color: transparent;
          opacity: 0;
          z-index: 1;
          transform-origin: 50% bottom;
          transform: scale(1);
          animation: transform 0.5s cubic-bezier(0.5, 0.21, 1, 0.45);
    }
  }

  @keyframes hurtFull {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(0);
    }
  }